Patient Profile(Phone_number,Patient_name,Patient_ID,Passport_photo,age,gender,next_of_kin,allergies,family_conditions)
Patient History(Username,pharmacist_id,doctor_id,prescriptions_and_dosage,Illness)
Pharmacist_profile(pharmacist_id,pharmacist_name,telephone,age,pharmacy_name)
Drugs(drug_name,drug_type,manufacturer,active_ingredient)
Patient_Prescription(patient_ID,drug_names,dosage,doctor_id,approval_status)
Doctor(doctor_id,doctor_name,hospital)
Patient login feature
Patient profile update
View previous prescriptions
Pharmacist login
Pharmacist registration
Pharmacist profile update
prescription approval functionality
